.DS_Store
Reflections/.DS_Store
Reflections/Week 1/.DS_Store
Reflections/Week 2/.DS_Store

phpunit.xml
composer.json
composer.lock
vendor/
.idea/Blue.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/Blue.iml
.idea/Blue.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
